set scrolloff=5

set clipboard+=unnamed
set rnu
set nu
set incsearch

map Q gq
map ö $
map 0 ^
imap jk <Esc>
imap kj <Esc>
imap <c-h> <left>
imap <c-l> <right>

imap <c-j> <down>
imap <c-k> <up>

nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

unmap <c-t>

let mapleader ="\<Space>"

"" Save and format (Formats on save)
map <leader>s <Action>(SaveAll)
map <leader>f <Action>(ReformatCode)<Action>(OptimizeImports)

map <leader>e <Action>(RecentFiles)
map <leader>r <Action>(RenameElement)
map <leader>n <Action>(SelectInProjectView)
map <leader>c <Action>(ShowIntentionActions)
map <leader>b <Action>(ToggleLineBreakpoint)

"" Navigate between implementations
map gd <Action>(GotoDeclaration)
map gi <action>(GotoImplementation)
map gr <Action>(GotoDeclaration)

"" Find in path and goto file
map fg <Action>(FindInPath)
map ff <Action>(GotoFile)

"" Navigate between errors
map <c-n> <Action>(GotoNextError)
map <c-p> <Action>(GotoPreviousError)

"" Navigate back and forward
map <c-o> <Action>(Back)
map <c-i> <Action>(Forward)

map <s-k> <Action>(ShowHoverInfo)

" Rebind find
map / <Action>(Find)

"" Navigate up and down between methods when in normal mode
nmap <c-j> <Action>(MethodDown)
nmap <c-k> <Action>(MethodUp)

"" Context select when in visual mode
vmap <c-k> <action>(EditorSelectWord)
vmap <c-j> <action>(EditorUnSelectWord)



"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
" Find more examples here: https://jb.gg/share-ideavimrc

