[submodule "zshrc/.oh-my-zsh"]
	path = zshrc/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:HampusHauffman/nvim.git
